@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: "dark";
}
@plugin "daisyui/theme" {
    name: dark;
    default: true;

    --color-base-100: #111318;
    --color-base-200: #222530;
    --color-base-300: #333847;
    --color-base-content: #D7D7D9;
    --color-primary: #7594FF;
    --color-primary-content: #050617;
    --color-secondary: #B5C9FF;
    --color-secondary-content: #00040F;
    --color-accent: #33F581;
    --color-accent-content: #000F02;
    --color-neutral: #2A2B3C;
    --color-neutral-content: #A6A7BB;
    --color-info: #00B5FF;
    --color-info-content: #000000;
    --color-success: #00A96E;
    --color-success-content: #000000;
    --color-warning: #FFBE00;
    --color-warning-content: #000000;
    --color-error: #FF5861;
    --color-error-content: #000000;

    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;

    --size-selector: 0.225rem;
    --size-field: 0.3rem;

    /* border size */
    --border: 1px;

    /* effects */
    --depth: 1;
    --noise: 0;
}
